<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

<section>
  <h1>Coffee Reviews</h1>
  <h2>We have reviewed <%= coffees.length %> coffees as of <%= time %></h2>
  <h2>Can't find the coffee beans you want to review?
    Add a new one to share your experience with us! anchor button </h2>
  <ul>
    <% coffees.forEach(coffee=> { %>
      <li>
        <%= `${coffee.name}` %><br><%= `${coffee.region}, ${coffee.country}` %>
      </li>
  <% }) %>
  </ul>

</section>

<%- include('../partials/footer') %>