<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

<section>
  <h1><%= title %> </h1>
<h3>We have reviewed <%= coffees.length %> coffees as of <%= time %></h3>
  <h4>Can't find the coffee beans you want to review?<br><a href="/coffees/new">Add new coffee beans</a> and share your experience with us!</h4>

  <!-- change to card container -->
    <% coffees.forEach(coffee=> { %>
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="coffee-name"><%= coffee.name %></h2>
        <h4 class="coffee-origin"><%= `${coffee.region}, ${coffee.country}` %></h4>
        <h5 class="taste-notes"><%= `${coffee.tasteNote.taste1}, ${coffee.tasteNote.taste2}, ${coffee.tasteNote.taste3}` %></h5>
        <h6 class="harvest-date" type="date"><%= `${new Intl.DateTimeFormat('en-US', { month: 'short'}).format(coffee.harvestDate)}, ${coffee.harvestDate.getFullYear()}` %> harvest</h6>
        <a href="/coffees/<%= coffee._id %>" class="card-link">Learn More</a>
      </div>
    </div>
  <% }) %>

</section>

<%- include('../partials/footer') %>