<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <div class="card" style="width: 100rem;">
    <div class="card-body">
      <h1 class="coffee-name"><%= coffee.name %>, <span class="process-format"></span><%= coffee.process %></span></h1>

      <% if (coffee.owner.equals(user?.profile._id)) { %>
        <form class="edit-btn" action="/coffees/<%= coffee._id %>/edit" method="GET">
          <button class="btn" type="submit">Edit</button>
        </form>
      <% } %>

      <h2 class="coffee-origin"><%= `${coffee.region}, ${coffee.country}` %></h2>
      <h4 class="coffee-producer"><%= coffee.producer %> </h4>

      <h4 class="taste-notes">Notes from <%= coffee.roasters %> <span class="roasters-format">roasters</span>:</h4>
        <h3 class="tastes"><%= `${coffee.tasteNote.taste1}, ${coffee.tasteNote.taste2}, ${coffee.tasteNote.taste3}` %></h3>
        <p>Tasted something different? Please share with us in the review!</p>

      <h5 class="coffee-varietal">Varietal: <%= coffee.varietal %></h5>
      <h5 class="harvest-date" type="date">Harvest: <%= `${new Intl.DateTimeFormat('en-US', { month: 'short'}).format(coffee.harvest)}, ${coffee.harvest.getFullYear()}` %></h5>
      
      <h5 class="roast-date" type="date">Roast date: <%= `${new Intl.DateTimeFormat('en-US').format(coffee.roastDate)}` %></h5>
    </div>
  </div>


<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
</ul>
</section>


<%- include('../partials/footer') %>