<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <div class="coffee-container"
	<p>From the kitchen of <%= taco.owner.name %>...</p>
  <h1><%= taco.name %> 🌮</h1>
  <h2>This taco is <%= taco.tasty ? 'tasty! 😋' : 'not tasty! 😫' %></h2>

  <ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
</ul>
</section>


<%- include('../partials/footer') %>