<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <div class="card" style="width: 100rem;">
    <div class="card-header">
      <h1 class="coffee-name"><%= coffee.name %>, <span class="process-format"></span><%= coffee.process %></span></h1>

      <% if (coffee.owner.equals(user?.profile._id)) { %>
        <form class="edit-btn" action="/coffees/<%= coffee._id %>/edit" method="GET">
          <button class="btn" type="submit">Edit</button>
        </form>
      <% } %>
    </div>
      <div class="card-body">
      <h2 class="coffee-origin"><%= `${coffee.region}, ${coffee.country}` %></h2>
      <h4 class="coffee-producer"><%= coffee.producer %> </h4>

      <h4 class="taste-notes">Notes from <%= coffee.roasters %> <span class="roasters-format">roasters</span>:</h4>
        <h3 class="tastes-all"><%= `${coffee.tasteNote.taste1}, ${coffee.tasteNote.taste2}, ${coffee.tasteNote.taste3}` %></h3>
        <p>Tasted something different? Please share with us in the review!</p>

      <h5 class="coffee-varietal">Varietal: <%= coffee.varietal %></h5>
      <h5 class="harvest-date" type="date">Harvest: <%= `${new Intl.DateTimeFormat('en-US', { month: 'short'}).format(coffee.harvest)}, ${coffee.harvest.getFullYear()}` %></h5>
      
      <h5 class="roast-date" type="date">Roast date: <%= `${new Intl.DateTimeFormat('en-US').format(coffee.roastDate)}` %></h5>
    </div>
    <div class="card-footer">
      <p>Created <%= coffee.createdAt %></p>
    </div>
  </div>

  <form action="/coffees/<%= coffee._id %>/reviews"
  id="add-review-form" method="POST">
    <label for="users-taste-notes">Please change taste notes if you noticed a different nuance:</label>
    <div id="users-taste-notes"><br>
      <label for="taste1-input">Taste 1</label>
      <input type="text" name="tastes.taste1" id="taste1-input" value="<%= coffee.tasteNote.taste1 %>">
      <label for="taste2-input">Taste 2</label>
      <input type="text" name="tastes.taste2" id="taste2-input" value="<%= coffee.tasteNote.taste2 %>">
      <label for="taste3-input">Taste 3</label>
      <input type="text" name="tastes.taste3" id="taste3-input" value="<%= coffee.tasteNote.taste3 %>">
    </div>

    <label for="comment-textarea">Comment:</label>
    <textarea name="comment" id="comment-textarea"></textarea>

    <button type="submit">Add Review</button>
  </form>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
  </ul>
</section>


<%- include('../partials/footer') %>